<H1>Table de {{tableNumber}}</H1>

@if(!started) {
<button class="btn btn-primary bg-primary-subtle btn-lg mt-5" (click)="init()">
  @if(!answered.length) {
    C'est parti
  } @else {
    Recommencer
  }
</button>
} @else {
  @if(currentQuestion?.table && currentQuestion?.mult && currentQuestion?.operation && currentQuestion?.operation === 'mult') {
    <h3>{{currentQuestion?.table}} x {{currentQuestion?.mult}} = ?</h3>
  } @else if(currentQuestion?.table && currentQuestion?.mult) {
    <h3>{{(currentQuestion?.table ?? 0) * (currentQuestion?.mult ?? 0)}} : {{currentQuestion?.table}} = ?</h3>
  }
  <div class="row mt-5 justify-content-center">
    <div class="col-12 col-md-4">
      <div class="row">
        @for (response of propositions; track response) {
          <div class="col-6 pb-3">
            <button class="btn btn-primary  w-100 btn-lg bg-primary-subtle" style="height: 4rem;" (click)="answer(response)">{{response}}</button>
          </div>
        }
      </div>

    </div>

  </div>
}

<div class="row mt-5">
  <div class="mt-5">
    @if(answered.length>0) {
      <H3>Score: {{score}}/{{answered.length}}</H3>
      <ul class="list-unstyled">
        @for(answer of answered; track answer.mult) {
            <li [ngClass]="{'text-success': answer.isOk(), 'text-danger': !answer.isOk()}">
              @if (answer.operation === 'mult') {
                {{answer.table}} x {{answer.mult}} = {{answer.answer}}
              } @else {
                {{answer.table * answer.mult}} : {{answer.table}} = {{answer.answer}}
              }

            </li>
          }
      </ul>
    }
  </div>

</div>
<div class="row mt-5 justify-content-center" *ngIf="answered.length === 10">
  <div class="col">
    <a [routerLink]="['/choices']" class="btn btn-secondary bg-secondary-subtle">Choisir une autre table</a>
  </div>
</div>


