<H1>Table de {{tableNumber}}</H1>

@if(!started) {
<button class="btn btn-primary bg-primary-subtle btn-lg mt-5" (click)="init()">
  @if(!answered.length) {
    C'est parti
  } @else {
    Recommencer
  }
</button>
} @else {
  @if(currentQuestion?.table && currentQuestion?.mult && currentQuestion?.operation && currentQuestion?.operation === 'mult') {
    <h3>{{currentQuestion?.table}} x {{currentQuestion?.mult}} = ?</h3>
  } @else if(currentQuestion?.table && currentQuestion?.mult) {
    <h3>{{(currentQuestion?.table ?? 0) * (currentQuestion?.mult ?? 0)}} : {{currentQuestion?.table}} = ?</h3>
  }
    @if(type === 'choices') {
        <app-multiple-answer *ngIf="currentQuestion" [question]="currentQuestion" (answered)="answer($event)"></app-multiple-answer>
    } @else {
        <app-free-answer *ngIf="currentQuestion" (answered)="answer($event)"></app-free-answer>
    }

}

<div class="row mt-5">
  <div class="mt-5">
    @if(answered.length>0) {
      <H3>Score: {{score}}/{{answered.length}} <a href="#" (click)="showResults($event)"><fa-icon [icon]="['fas', 'eye']"></fa-icon></a></H3>
    }
  </div>

</div>
<div class="row mt-5 justify-content-center" *ngIf="answered.length === 10">
  <div class="col">
    <a [routerLink]="['/choices']" class="btn btn-secondary bg-secondary-subtle">Choisir une autre table</a>
  </div>
</div>


