<!--<div class="container">-->
<app-success></app-success>

<nav class="navbar navbar-expand-lg bg-body-tertiary mb-5">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MULT</a>
    <button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 ">
        <li class="nav-item "><a [routerLink]="['/choices']" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true" class="nav-link">Choix multiples</a></li>
        <li class="nav-item "><a [routerLink]="['/free']" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true" class="nav-link">Réponses libres</a></li>
        <li class="nav-item "><a [routerLink]="['/time']" [routerLinkActive]="'active'" (click)="isMenuCollapsed = true" class="nav-link">Contre la montre</a></li>
      </ul>
    </div>
  </div>
</nav>
<!--</div>-->

<div class="container-md text-center">
  <router-outlet></router-outlet>
</div>
