
#success-bg {
  position: fixed;
  width: 100%;
  height:100%;
  top:0;
  left:0;
  z-index: -1;
  animation: toTransparent 0.4s forwards;
}
@keyframes toTransparent {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

